
/* Parametros generales */
*{
    margin: 0px ;
    padding: 0px;
}

/* font size del html */

html{
    font-size: 1em;
}

/* PAGINA INDEX -----------------------------------------*/

/* SECCION BODEGA */

.la-bodega{
    background-color: #FAEBD7;
    padding-top: 2em;
    padding-bottom: 2em;
}

.div-bodega{
    border: #2e3436 solid 5px;
}

.div-bodega h2{
    display: flex;
    justify-content:center;
    border: #2e3436 2px solid;
    background-color: #FAEBD7;
    color: #2e3436;
    font-style: italic;
    font-weight: bold;
}

.primera-linea{
    align-items: center;
}

.parrafo-bodega {
    text-align: justify;
}

.div-img-bodega{
    width: 100%;
}

.div-img-bodega img{
    width: 100%;
    height: auto;
} 

.segunda-linea{
    align-items: center;
} 

.video-recorrido{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa07a;
    padding-top: 2em;
    padding-bottom: 2em;

}

/* SECCION NOSOTROS */

#nosotros{
    background-color:#FAEBD7;
    padding-top: 2em;
    padding-bottom: 2em;
}

.div-nosotros{
    border: #2e3436 solid 5px; 
}

.div-nosotros h2{
    display: flex;
    justify-content: center;
    border: #2e3436 2px solid;
    background-color: #FAEBD7;
    color: #2e3436;
    font-style: italic;
    font-weight: bold;

}

.div-nosotros h3{
    display: flex;
    justify-content: center;
    border: #2e3436 2px solid;
    font-style: italic;
    font-weight: bold;
}

/* PAGINA VINOS -------------------------------------------------*/

.seccion-vinos{
background-color: #FAEBD7;
padding-bottom: 2em;
}

.malbec{
    padding-top: 2em;
}

.cepa{
    background-color: #2e3436;
    color: #FAEBD7;
}



.cepa div h2 {
    
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: #FAEBD7 solid 5px;
}


.vino-container-interior{
    display: flex;
    flex-direction: column;
    border: #FAEBD7 solid 5px;
    align-items: center;
}

.vino-container-interior h3{
    text-align: center;
    border: #FAEBD7 solid 5px;
  
}

.vino-container-interior p{
    text-align: justify;
}

/* PUNTOS DE VENTA ------------------------------------------------*/


.puntos h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: saintCapital;
    text-decoration: underline;
    color: #2e3436;

}

.mapa-local-mendoza{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #2e3436 5px solid;
}

.mapa-local-mendoza h3{
    color: #2e3436;
    text-decoration: underline;
    
}

.sala-turismo{
    font-size: 1.5rem;
    margin: 1em;
}

.mapa-local-mendoza div {
    background-color: #2e3436;
}

.mapa-local{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #2e3436 5px solid;
}

.mapa-local h3{
    color: #2e3436;
    text-decoration: underline;
}

.mapa-local div {
    background-color: #2e3436;
}

.mapa-interno{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTACTO ---------------------------------------------------*/

/* Formulario de contato */

.contacto-container{
    background-color: #FAEBD7;
    padding-top: 2em;
    padding-bottom: 2em;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #2e3436 10px solid;
    margin-bottom: 2em;
    
}

.formulario-contacto h2{
    font-family: saintCapital;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.formulario-contacto p{
    font-family: saintCapital;
    text-align: justify;
}

.formulario-contacto form{
    color:#FAEBD7;
    background-color: #2e3436; 
    display: flex;
}

/* Atencion al consumidor */

.puntos-container{
    background-color: #FAEBD7;
}

.atencion-consumidor{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #2e3436 10px solid;
    margin-bottom: 2em;
} 


/* Animacion para el boton de watsapp */

.boton-wsup {
   
    fill: #41e175;
    border: #2e3436 solid 2px;
    background-color: #FAEBD7;
    border-radius: 30px;
    padding: 20px;
}



/* FOOTER --------------------------------------------------------*/

footer{
    background-color: #FAEBD7;
}


/* Footer 1 */

.footer-uno{
    display: flex;
    flex-direction: column;
    background-color: #ffa07a;
    border: #2e3436 solid 2px;
}

.footer-uno h4 {
    color: #2e3436;
    display: flex;
}

.gran-container-premios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.container-premios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-uno div div h5{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #2e3436;
}

/* Footer 2 */

.footer-dos{ 
    display: flex;
    flex-direction: column;
    background-color: #ffa07a;
    border: #2e3436 solid 2px;
}

.footer-dos h4{
    color: #2e3436;
    display: flex;
} 


.container-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.container-redes div a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}


.container-redes div a h5 {
    text-decoration: underline;
    font-weight: bold;
    color: #2e3436;
    margin-left: 0.5em;
}

/* Footer 3 */

 .footer-tres{
    display: flex;
    flex-direction: column;
    background-color: #ffa07a;
    border: #2e3436 solid 2px;
}

.footer-tres h4{
    color: #2e3436;
    display: flex;
}

.container-mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}


/* Footer 4 */

 .footer-cuatro{
    display: flex;
    flex-direction: column;
    background-color: #ffa07a;
    border: #2e3436 solid 2px;
}

.footer-cuatro form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer 5 */

.footer-cinco{
    display: flex;
    flex-direction: column;
    background-color: #ffa07a;
    border: #2e3436 solid 2px;
    align-items: center;
    justify-content: center;
}

.footer-cinco span{
    color: #2e3436;
    font-weight: bold;
}

/* Parametros mobile *-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:360px){


    /* HEADER */

    #navegador{
        flex-direction: row;
        justify-content: space-around;
    }
    
    /* SECCION BODEGA */
    
    .segunda-linea{
        flex-direction: column-reverse;
    }
     
    .div-bodega h2{
        font-size: 2rem;
    }
    
    .caja-parrafo{
        font-size: 1rem;
    }
    
    .parrafo-bodega {
        font-size: 1rem;
    }
    
     .div-img-bodega{
        max-width: 330px;
    }
    
    /* SECCION NOSOTROS */
    
    .div-nosotros h2{
        font-size: 2rem;
    }
    
    .div-nosotros h3{
        font-size: 1.2rem;
    }



     /* FOOTER --------------------------------------------------------*/

     .footer-superior{
        justify-content: center;
    }

    .footer-inferior{
        justify-content: center;
    }


    /* Footer 1 */

    .footer-uno h4 {
        font-size: 1.2rem;
       justify-content: center;
    }

    
    .container-premios h5{
        font-size: 0.9rem; 
        margin-right: 0.4em;
    }



    /* Footer 2 */


    .footer-dos h4{
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        justify-content: center;
        
    } 


    .container-redes div a{
        font-size: 0.7rem;
      
    }


    .container-redes div h5 {
        text-decoration: underline;
        font-weight: bold;
        color: #2e3436;
    }

    /* Footer 3 */

    
    .footer-tres h4{
        font-size: 1.2rem;
        justify-content: center;
    }

    .container-mapa iframe{
        width: 300px;
    }

    /* Footer 4 */

    .footer-cuatro h4 {
        font-size: 1.2rem;
    }

    .footer-cuatro form {
        margin-bottom: 1em;
    }

    .footer-cuatro form label{
        font-size: 1.2rem;    }

    .footer-cuatro form input {
        font-size: 1.5rem;
    }  

    /* Footer 5 */

    .footer-cinco span{
        font-size: 0.6rem;  
    }

}
/* Parametros Desktop *-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:1200px){
    
    header nav{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav h1 a{
        font-size: 4rem;
    }


    header nav ul li a{
        font-size: 2rem; 
    }

    /* SECCION BODEGA */


    .div-bodega h2{
        font-size: 3rem;
        border: none;
        text-decoration: underline;
        justify-content:start;
    }

    .primera-linea{
        flex-direction: row;
    }

    .parrafo-bodega {
        font-size: 1.2rem;
    }

    .segunda-linea{
        flex-direction: row;
    }

    .video-recorrido iframe {
    width: 700px;
    }


    /* SECCION NOSOTROS */

    .div-nosotros h2{
        font-size: 3rem;
        border: none;
        text-decoration: underline;
        justify-content:start;
    }

    .div-nosotros h3{
        font-size: 2rem;
        border: none;
        text-decoration: underline;
        justify-content:start;
    }

    /* PAGINA VINOS -------------------------------------------------*/

    

    .cepa h2 {
        font-size: 3em;
    }

    /* .vino-container{
        flex-direction: row;
        
    } */

/* Transformacion de escala con transicion para los vinos */

    .vino-container-interior:hover{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transition: 2s;
        z-index: 1;
        background-color: #2e3436;
    }

    .vino-container-interior h3{
        font-size: 2.5em;
    }

    .vino-container-interior p{
        font-size: 1.5rem;
        margin: 1em;
    }

    /* PUNTOS DE VENTA ------------------------------------------------*/

    .grid-puntos{
        grid-template-rows: 7rem 160rem 20rem;
        row-gap: 3rem;
    
    }

    .puntos h2 {
        font-size: 3rem;
        margin: 0.5em;
    }

    .mapa-local-mendoza h3{
        color: #2e3436;
        margin: 0.5em;
        text-decoration: underline;
        font-size: 2.5rem;
    }

    .sala-turismo{
        font-size: 2.5rem;
        margin: 0.5em;
    }


    .mapa-local h3{
        color: #2e3436;
        text-decoration: underline;
        font-size: 2.5rem;
        margin: 0.5em;
    }

    .mapa-interno{
    
        flex-direction: row;
        align-items: center;
        
    }

/* Transformacion con transicion para los mapas */

    .mapa-interno:hover{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transition: 2s;
        z-index: 1;
        background-color: #2e3436;
    }
    

    .mapa-interno svg, .mapa-interno iframe{
        margin: 1em;
    }

    .mapa-interno iframe{
        width: 700px;
    }

    /* CONTACTO ---------------------------------------------------*/

    .grid-contacto{
        grid-template-rows: 7rem 15rem 13rem 17rem; 
        row-gap: 30px;
    }

    /* Formulario de contato */


    .formulario-contacto form{
        flex-direction: row;
    }

    .formulario-contacto form label, .formulario-contacto form input{
    font-size: 1.4rem;
    margin-right: 0.5em;
        
    }
    /* Atencion al consumidor */

    .atencion-consumidor{
        margin-left: 30%;
        margin-right: 30%;
    } 

    .atencion-consumidor h3{
    font-size: 2rem;
    text-align: center;
    }

    
    .animacion-wsup:hover{
        animation-name: boton-wsup;
        animation-duration: 10s;
    }

    @keyframes boton-wsup{
    
        
    

        50%{
        
            background-color: #41e175;
            fill: #FAEBD7;
            transform: scale(2);
            -webkit-transform: scale(2);
        }

        70%{
            border-radius: 20% 30% 90% 70%;
        }
    }



    /* FOOTER --------------------------------------------------------*/

    .footer-superior{
        flex-direction: row;
        justify-content: center;
    }

    .footer-inferior{
        flex-direction: row;
        justify-content: center;
    }


    /* Footer 1 */

    .footer-uno h4 {
        font-size: 1.7rem;
        justify-content: flex-start;
    }

    .gran-container-premios{
        margin-left: 2em;
    }

    .container-premios{
    
        margin-right: 2em;
        font-size: 1.5rem; 
    }


    /* Footer 2 */



    .footer-dos h4{
        font-size: 1.7rem;
        margin-bottom: 0.5em;
        margin-left: 1em;
        justify-content: flex-start;
    } 


    .container-redes{
    margin-left: 3em;

    }

    .container-redes{
        flex-direction: row;
    }

    .container-redes div a{
        font-size: 1.5rem;
        margin-right: 1em;
    }


    .container-redes div h5 {
        text-decoration: underline;
        font-weight: bold;
        color: #2e3436;
    }

    /* Footer 3 */



    .footer-tres h4{
        font-size: 1.7rem;
        margin-left: 1em;
        margin-bottom: 0.5em;
        justify-content: flex-start;
    }

    .container-mapa{
        margin-left: 2.5em;
        margin-right: 2.5em;
        
    }

    .container-mapa svg{
        margin-left: 1em;
        margin-right: 1em;
        font-size: 1.7rem;
    }

    .container-mapa iframe{
        width: 500px;
        margin-right: 1em;
    }


    /* Footer 4 */


    .footer-cuatro h4 {
        font-size: 1.7rem;
        margin-bottom: 1em;
        margin-left: 1em;
        justify-content: flex-start;
    }

    .footer-cuatro form {
        flex-direction: row;
        margin-left: 1.8em;
        margin-right: 1.8em;
        margin-bottom: 1em;
    }

    .footer-cuatro form label{
        font-size: 1.5rem;
        margin-left: 1em;
        margin-right: 1.1em;
    }

    .footer-cuatro form input {
        font-size: 1rem;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }  

    /* Footer 5 */

    .footer-cinco span{
        font-size: 1rem;
        padding-left: 1em ;
        padding-top: 0.7em;
        padding-bottom: 0.7em;

    }
    
}
